[Desktop Entry]
Type=Application
Name=Unity Hub
Comment=Manage Unity Editors, licenses, and projects
Exec=/usr/bin/unityhub --no-sandbox --disable-gpu-sandbox %U
Icon=unityhub
Categories=Development;
MimeType=x-scheme-handler/unityhub;
StartupNotify=true
